h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
}

.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

#cliente-footer {
    width: 100%;
    text-align: center;
    background-color: white;
    position: sticky;
    bottom: 0;
    margin-top:10px;   
}  

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }

.link {
    text-decoration: none;
    text-align: center;
}
/*================== Registros chamados ==================== */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-default .collapsed {
    color: #5f6f7e;
  }

  .accordion-toggle:focus, .accordion-toggle:hover{
    color: #2d559d;
    text-decoration: none;
  }

/*================== Chamar ==================*/
.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
    }
    
/*@media(min-width: 768px) {
    .pane{
        min-height: 400px;
    }
}*/

#toTop{
	position: fixed;
	bottom: 50px;
	right: 10px;
	cursor: pointer;
	display: none;
}

.credito{
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0; 
}
