/*==============================================
    GENERAL  STYLES    
    =============================================*/

body {
    line-height: 30px;
}

#wrapper {
    width: 100%;
    margin-top: 50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    /*background: #F3F3F3;*/
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 700px;
}

.pad-top {
    padding-top: 15px;
}


/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse .nav {
    padding: 0;
    padding-top: 10px;
    text-align: center;
}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
    color: #2d559d;
    font-weight: 900;
    font-size: 16px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    /*background: #F3F3F3;
    outline: 0;*/
    color: #333333;
    background: white;
}

.navbar-side {
    border: none;
    background-color: #fff;
}

.navbar-inverse {
    background-color: #2d559d;
    border-color: #F0F0F0;
    min-height: 40px;
}

.nav > li > a > i {
    margin-right: 10px;
}

.logout-spn {
    float: right;
    color: #fff;
    margin: 20px;
    margin: 10px 80px 10px 50px;
}

.logout-spn a {
    text-decoration: none;
}

.active-link {
    background-color: #f3f3f3;
}


/*==============================================
    DASHBOARD STYLES    
    =============================================*/

.div-square {
    padding: 5px;
    /*border: 3px double #e1e1e1;*/    
    color: white;
    /* -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;*/
    margin: 5px;
}

a > .div-square {
    color: white;
    background-color: #2d559d;
}

a:hover > .div-square {
    color: #2d559d;
    background-color: silver; 

    display: block;
    font-size: 130%;  
}

.cubo > a,
.cubo > a:hover{
    color: white;
    text-decoration: none;
}

.cubo {
    min-height: 100px;
}

/*==============================================
    FOOTER STYLES     
    =============================================*/

.footer {
    background-color: #2d559d;
    width: 100%;
    color: #fff;
    padding: 10px 50px 10px 50px;
    padding-left: 20px;
    text-align: center;
}

.footer > a,
.footer > a:hover {
    color: #fff;
}

.corBtn {
    color: #2d559d;
    border: 1px solid #aaa;
}

.cor {
    color: #2d559d;
}


/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 180px;
        padding: 15px 30px;
        /*min-height: 1024px;*/
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
    }

    .modal-dialog{
        width: 900px;
    }   

    .sidebar-collapse .nav {
        position: fixed;
        margin-left: 20px;
        margin-right: 20px;
    }
}


/* Fim do estilo geral */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            Estilo para templetes específicos 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Clientes template */

.cliente {
    padding: 5px;
    margin-top: 3px;
    background-color: #eee;
    border: 1px solid #aaa;
    text-align: center;
}

.mTable th {
    text-align: center;
}


/* Style from Microscope
.post {
  *zoom: 1;
  position: relative;
  opacity: 1; 
  padding: 5px}
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin: 3px; } */

.chamado-novo {
    color: #d63232;
    font-size: 33px;
    margin-left: 5px;
}

.chamado-atribuido {
    color: #329932;
    font-size: 33px;
    margin-left: 5px;
}

.chamado-fechado {
    color: #2d559d;
    font-size: 33px;
    margin-left: 5px;
}

.chamado-agendado {
    color: #c045e2;
    font-size: 33px;
    margin-left: 5px;
    text-shadow: 1px solid #2d559d
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 90px; /* Place the button at the bottom of the page */
    right: 4px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
}


/* =================== Toggle ==================== */

.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}

/* =========== */

.texto {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid #2d559d;
}



.box {
    /*background-color: #2d559d;*/
    background-color: white;
}

.commitBody {
    background-color: #d1d3d6;
    padding: 10px;
    border-radius: 5px;
}

.commit {
    padding: 8px;
    /*background-color:#caddf9;*/
    border-radius: 2px 15px 15px 25px; 
    border: 2px solid #2d559d   
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    overflow-y: auto;
}

.user-footer {
    width: 100%;
    /* padding: 10px 50px 10px 50px; */
    text-align: center;
    bottom: 0; 
    max-height: 80px;
    display: inline-block;
    margin-top: 5px;
}

.btn-link:focus {
    outline: none;
}

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 5% 0;
    margin-right: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

.reg{
    border: 1px solid #ccc;
    padding: 1px;
    margin-bottom: 2px;
}