.greenTimer, .redTimer, .yellowTimer {
    padding: 4px;
    color: white;
    font-family: "Courier";
}

.greenTimer {
    background-color: #19c127;
}

.redTimer {
    background-color: #e24d4d;
}

.yellowTimer {
    background-color: #baba0d;
}