<template name="addCliente">
  <button type="button" class="btn btn-success btn-xs" name="newTicket" data-target="#formCliente" data-toggle="modal">Cadastrar Cliente</button>
  <!-- /. Modal -->

  <!-- Modal -->
  <div id="formCliente" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="panel-title">Criar novo cliente
              </h3>
            </div>
            <div class="panel-body">
              <form role="form">

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon" id="addon-nome-fantasia">Nome Fantasia</span>
                        <input class="form-control input-sm" id="nFantasia" aria-describedby="addon-nome-fantasia" placeholder="" />
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon" id="addon-responsavel">Responsável</span>
                        <input class="form-control input-sm" id="responsavel" aria-describedby="addon-responsavel" placeholder="" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon" id="addon-email">E-mail</span>
                        <input class="form-control input-sm" id="email" aria-describedby="addon-email" placeholder="" />
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon" id="addon-telefone">Telefone Principal</span>
                        <input class="form-control input-sm" id="telefone_01" aria-describedby="addon-telefone" placeholder="" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6 col-xs-6">

                </div>
                <div class="form-group col-md-6 col-xs-6">

                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group">
                          <span class="input-group-addon" id="addon-tipo">Tipo</span>
                          <select class="form-control input-sm" id="tipo" aria-describedby="addon-tipo">
                            <option>Contrato</option>
                            <option>Avulso</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group">
                          <span class="input-group-addon" id="addon-ativo">Ativo</span>
                          <select class="form-control input-sm" id="ativo" aria-describedby="addon-ativo">
                            <option>Sim</option>
                            <option>Não</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
            <div class="panel-footer clearfix">
              <span class="pull-right">
                <!-- Botões -->
                <button type="button" class="btn btn-default btn-sm cor" data-dismiss="modal">Cancelar
                </button>
                <button type="button" class="btn btn-success btn-sm" id="btnCadastrar">
                  <span class="fa fa-floppy-o" aria-hidden="true"></span> Salvar
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>