<template name="clientes">
    <style>
        .input-group-addon {
            min-width: 60px;
        }
    </style>

    <div id="mySidenav" class="sidenav">

        <!-- Filtro -->
        <div class="container-fluid" id="filter">
            <label style="color: #8e8e8e">FILTRO</label>

            <button type="button" class="close" onclick="closeNav()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-9 col-xs-7">
                        <input class="form-control input-sm" id="filtroNomeFantasia" value="" placeholder="Nome fantasia" />
                        <hr />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-tipo">Tipo</span>
                                <select class="form-control input-sm" id="ftipo" aria-describedby="addon-tipo">
                                    <option>Todos</option>
                                    <option>Contrato</option>
                                    <option>Avulso</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-ativo">Ativo</span>
                                <select class="form-control input-sm" id="fativo" aria-describedby="addon-ativo">
                                    <option>Sim</option>
                                    <option>Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-check  col-md-3 col-xs-4">
                        <label class="switch col-md-1 col-xs-4" title="Ativar/Desativar Filtro">
                            <input type="checkbox" id="checker">
                            <span class="slider round"></span>
                        </label>

                        <br />
                        <br />
                        <button type="button" class="btn btn-primary btn-xs" aria-label="Left Align" title="Atualizar pesquisa" id="refresh">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <!-- /Filtro -->

    </div>

    <!-- Corpo -->
    <div id="main" class="content">
        <div class="row">
            <div class="col-lg-12 cor">
                <span>CLIENTES</span>
            </div>
            <div>
                {{#if isAdm perfil.setor}}
                <span class="btn-group" data-toggle="buttons">
                    {{>addCliente}}
                    <button type="button" title="Filtrar chamados" class="btn btn-primary btn-xs" id="btnFiltrar" onclick="openNav()">
                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                    </button>
                </span>
                {{else}}
                <button type="button" class="btn btn-primary btn-xs" id="btnFiltrar" onclick="openNav()" title="Filtrar clientes">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
                {{/if}}
            </div>
        </div>

        <hr />

        <div>
            {{#if statusFiltro}}
            <h3 class="cor">Filtro ativo</h3>
            {{#each filtro}} {{>regCliente}} {{else}}
            <p class="alert alert-warning">Nenhum resultado para a pesquisa!</p>
            {{/each}} {{else}} {{>listaClientes}} {{/if}}
        </div>
    </div>
</template>