<template name="editCliente">
  <div id="eCliente" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->

      <div class="modal-content">
        <div class="modal-body">
          <!-- Formulário de criação de cliente -->
          <form>
            <div class="panel panel-default">
              <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="panel-title">Editar cliente
                  <small>{{modalCliente.nomeFantasia}}</small>
                </h3>
              </div>
              <div class="panel-body">
                <form role="form">

                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">Nome Fantasia</span>
                          <input type="text" class="form-control input-sm" aria-describedby="basic-addon1" id="enFantasia" placeholder="{{modalCliente.nomeFantasia}}"
                            value="{{modalCliente.nomeFantasia}}" />
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon4">Telefone Principal</span>
                          <input class="form-control input-sm" id="etelefone_01" aria-describedby="basic-addon4" placeholder="{{modalCliente.telefone_01}}"
                            value="{{modalCliente.telefone_01}}" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon2">Responsável</span>
                          <input class="form-control input-sm" id="eresponsavel" aria-describedby="basic-addon2" placeholder="{{modalCliente.responsavel}}"
                            value="{{modalCliente.responsavel}}" />
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-addon5">Tipo</span>
                            <select class="form-control input-sm" id="etipo" aria-describedby="basic-addon5">
                              <option selected="{{equal modalCliente.tipo 'Contrato'}}">Contrato</option>
                              <option selected="{{equal modalCliente.tipo 'Avulso'}}">Avulso</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-addon6">Ativo</span>
                            <select class="form-control input-sm" id="eativo" aria-describedby="basic-addon5">
                              <option selected="{{equal modalCliente.ativo 'Sim'}}">Sim</option>
                              <option selected="{{equal modalCliente.ativo 'Não'}}">Não</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon3">E-mail</span>
                          <input class="form-control input-sm" id="eemail" aria-describedby="basic-addon2" placeholder="{{modalCliente.email}}" value="{{modalCliente.email}}"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <button type="button" class="btn btn-default btn-sm cor" data-dismiss="modal">
                        Cancelar
                      </button>
                      <button type="button" class="btn btn-success btn-sm" id="btnEditar">
                        <span class="fa fa-floppy-o" aria-hidden="true"></span> Salvar
                      </button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </form>

        </div>

        <!-- Botões Modal-footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm cor" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-success btn-sm" id="btnEditar">
            <span class="fa fa-floppy-o" aria-hidden="true"></span> Salvar
          </button>
        </div> -->

      </div>
    </div>
  </div>
</template>