<template name="showCliente">
    <style>
        @media(min-width:768px) {
            .modal-dialog {
                width: 400px;
            }
        }
    </style>
    <div class="modal fade" role="dialog" id="sCliente" tabindex="-1">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <!-- vertical-align-center -->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title cor">Dados do cliente</h4>
                </div>
                <div class="modal-body" stryle="width: 400px">
                    <p>
                        <strong class="cor">Nome fantasia: </strong>{{modalCliente.nomeFantasia}}
                        <br>
                    </p>
                    <hr />
                    <table class="table table-striped custab table-responsive">
                        <thead class="cor"></thead>
                        <tbody>
                            <tr>
                                <td class="h6 col-md-2">
                                    <strong class="cor">Responsavel</strong>
                                </td>
                                <td class="h5">{{modalCliente.responsavel}}</td>
                            </tr>

                            <tr>
                                <td class="h6 col-md-2">
                                    <strong class="cor">E-mail</strong>
                                </td>
                                <td class="h5">{{modalCliente.email}}</td>
                            </tr>

                            <tr>
                                <td class="h6 col-md-2">
                                    <strong class="cor">Telefone</strong>
                                </td>
                                <td class="h5">{{modalCliente.telefone_01}}</td>
                            </tr>

                            <tr>
                                <td class="h6 col-md-2">
                                    <strong class="cor">Tipo</strong>
                                </td>
                                <td class="h5">{{modalCliente.tipo}}</td>
                            </tr>

                            <tr>
                                <td class="h6 col-md-2">
                                    <strong class="cor">Ativo</strong>
                                </td>
                                <td class="h5">{{modalCliente.ativo}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</template>