<template name="notFound">
    <style>
        body{
            background: white;
            color:#2d559d;
        }
        
    </style>
  <div row>
      <div style="text-align:center;margin-top: 100px">
        <p>
            <img src="/images/bronke.png" />
            <h2>Erro 404</h2><br>
            Página não encontrada.            
        </p>        
      </div>      
  </div>
</template>
