<template name="login1">

  <style>
    /* body {
      background-image: url('images/desk2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    } */

    body { /* #ec5218 , #1665c1*/
      background: linear-gradient(132deg, #ff6666 , #2d559d);
      background-size: 400% 400%;
      animation: BackgroundGradient 30s ease infinite;
    }

    @keyframes BackgroundGradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .dev {
      text-align: center;
      color: #2d559d;
      font-family: monospace;
      font-size: 11px;
    }

    p span {
      display: block;
    }
  </style>

  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            <a href="http://www.lncomputadores.com.br" target="_blank">
              <img class="pull-left" border="0" height="auto" hspace="0" src="/images/logo_ln.png" width="10%" />
            </a>
            <h2 class="cor">Panel</h2>
          </span>
          <div style="float:right; font-size: 80%; position: relative; top:-10px">
            <a href="#">Esqueceu a senha?</a>
          </div>
        </div>

        <div style="padding-top:30px" class="panel-body">

          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

          <form id="loginform" class="form-inline" role="form">

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user-circle"></i>
              </span>
              <input id="uID" type="text" class="form-control input-sm" name="username" value="" placeholder="Nome do usuário">
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-key"></i>
              </span>
              <input id="pwd" type="password" class="form-control input-sm" name="password" placeholder="Senha">
            </div>



            <!-- <div class="input-group">
              <div class="checkbox">
                <label>
                  <input id="login-remember" type="checkbox" name="remember" class="form-check-input"> Continuar conectado
                </label>
              </div>
            </div>  -->


            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-12 controls">
                <button type="submit" class="btn btn-primary btn-sm">
                  <span class="fa fa-sign-in" aria-hidden="true"></span> Entrar
                </button>
                <a href="http://get.teamviewer.com/r64qyrp" target="_blank" class="btn-link pull-right">
                  <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Baixar o TeamViewer
                </a>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 control" style="text-align: center;border-top: 1px solid rgb(223, 216, 216); padding-top:5px; font-size:90%">
                <p>
                  <span>Rua Juracy Magalhães Júnior, 34 - Centro</span>
                  <span>Feira de Santana - BA</span>
                  <span>
                    <strong>(75) 3223-5899</strong>
                  </span>
                </p>
                <a href="http://www.lncomputadores.com.br" target="_blank" class='cor' style="text-decoration: none;">LN Computadores
                  <sup>&reg;</sup>
                </a>
              </div>
              <div class="col-lg-12" style="text-align: center; font-size:80%">
                Desenvolvido por Wagner Bittencourt |
                <a href="https://gitlab.com/wsbittencourt" class="cor" style="text-decoration: none;" target="_blank">@wsbittencourt</a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</template>