<template name="changePasswd">
    <style>
        .rotulo {
            min-width: 160px;
            text-align: left;
        }
    </style>
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header cor">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <span class="modal-title">Alterar Senha</span>
                </div>
                <div class="modal-body">

                    <!-- content goes here -->
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon rotulo" id="addon-senha">Senha atual</span>
                                <input type="password" class="form-control input-sm" id="atual" aria-describedby="addon-senha">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon rotulo" id="addon-newPw">Nova senha</span>
                                <input type="password" class="form-control input-sm" id="nova" aria-describedby="addon-newPw">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon rotulo" id="addon-pw">Comfirme nova senha</span>
                                <input type="password" class="form-control input-sm" id="confNova" aria-describedby="addon-pw">
                            </div>
                        </div>


                        <!-- <div class="form-group">
                            <label for="exampleInputEmail1" class="cor">Senha atual</label>
                            <input type="password" class="form-control" id="atual">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="cor">Nova senha</label>
                            <input type="password" class="form-control" id="nova">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile" class="cor">Comfirme nova senha</label>
                            <input type="password" class="form-control" id="confNova">
                        </div> -->

                    </form>

                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Cancelar</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="btnChange" class="btn btn-default btn-hover-green" data-action="save" role="button">Salvar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>