﻿<template name='panel'>
    {{#if currentUser}} {{>index}} {{else}} {{>login}} {{/if}}
</template>
<template name="index">
    <style>
        .navbar-header {
            padding: 5px;
        }

        .navbar-brand {
            float: none;
        }
    </style>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <span title="Logo LN">
                        <a href="#" id="home"><img src="/images/logo_ln.png" border="0" height="auto" hspace="0" width="40px" /></a>
                    </span>
                </span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--  Menu -->
                <ul class="nav navbar-nav" id="main-menu">
                    {{#if isAdmin perfil.setor}}
                    <li data-template="dashboard">
                        <a id="btnDash" href="#">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Dashboard
                        </a>
                    </li>
                    {{/if}}
                    <li data-template="chamados" class="active">
                        <a id="btnChamados" href="#">
                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Chamados
                        </a>
                    </li>
                    <li data-template="clientes">
                        <a id='btnClientes' href="#" style="outline: none;">
                            <span class="fa fa-users" aria-hidden="true"></span> Clientes
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown " title="Menu principal">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-user-circle" aria-hidden="true"></span>
                            {{#with currentUser}} {{#with profile}} {{nome}} {{/with}} {{/with}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">CONFIGURAÇÕES</li>
                            <li class="">
                                <a href="#" id="change">
                                    <span class="fa fa-key" aria-hidden="true"></span>
                                    Alterar senha
                                </a>
                            </li>
                            <li class="divider"></li>

                            <li>
                                <a tabindex="-1" href="#" class="cor sair">
                                    <span class="fa fa-sign-out" aria-hidden="true"></span>
                                    Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid main-container">
        {{> Template.dynamic template=tab}}
    </div>
    <div id="myBtn" class="btn btn-primary">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </div>


    <footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <a href="http://www.lncomputadores.com.br" target="_blank" class='cor' style="text-decoration: none;">LN Computadores
                <sup>&reg;</sup>
            </a>
            <br> Desenvolvido por Wagner Bittencourt |
            <a href="https://gitlab.com/wsbittencourt" class="cor" style="text-decoration: none;" target="_blank">@wsbittencourt</a>
        </div>
    </footer>
</template>