<template name="relatorios">
    <div class="row">
        <div class="col-lg-12 cor">
            <h2>RELATÓRIOS</h2>
        </div>
    </div>  
    <!-- /. ROW  -->
    <hr />
    <div>
        <h4>Página em construção :(</h4>
    </div>    
</template>