<template name="alerts">
  <div class="alerts">
    {{#each alerts}}
      {{> alert}}
    {{/each}}
  </div>
</template>

<template name="alert">
    <div class="alert alert-info col-lg-3 col-md-3 col-xs-4" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{message}}</strong>
    </div>
</template>
