<template name="listaClientes">
    {{>forCliente}}
</template>

<template name="forCliente">
    {{#each clientes}} {{>regCliente}} {{else}}
    <p class="alert alert-warning">Não foram encontrados registros de clientes no sistema.</p>
    {{/each}}
    <br>
    <button type="button" class="btn btn-primary btn-xs" title="Carregar mais clientes" id='loadMore'>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</template>