<template name="regCliente">
    <div class="row reg">
        <span class="col-md-6 col-lg-6 col-sm-6">
            <label>
                {{nomeFantasia}}
            </label>
            <p>
                <strong class='cor'>Responsável</strong> {{responsavel}}
                <strong class='cor'>|</strong> {{telefone_01}}
            </p>
        </span>

        <span class="col-md-2 col-lg-2 col-sm-2 pull-right" style="padding-top: 5px;">
            <button type="button" class="discuss btn btn-primary btn-sm" title='Exibir detalhes do cliente' id='detalhes'>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>

            {{#if isAdm perfil.setor}}
            <button type="button" class="discuss btn btn-primary btn-sm" title='Editar cliente' id='editar'>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" class="discuss btn btn-primary btn-sm" title='Excluir cliente' id='excluir'>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            {{/if}}
        </span>
    </div>
</template>