<template name='dashboard'>
    <div class="col-md-2 sidebar">

    </div>
    <div class="col-md-8 content" align="center">
        <div class="row">
            <div class="col-lg-12 cor">
                <span style="text-align: center">ADMIN DASHBOARD</span>
            </div>
        </div>

        <div class="row text-center pad-top">

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="btn-success cubo" style="padding: 5px" id="novoCliente">
                    <a href="#">
                        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                        <h4>Novo Cliente</h4>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="btn-warning cubo" style="padding: 5px" id="novoColaborador">
                    <a href="#">
                        <i class="fa fa-user fa-5x"></i>
                        <h4>Novo Colaborador</h4>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="btn-danger cubo" style="padding: 5px" id="gerenciar">
                    <a href="#">
                        <i class="fa fa-users fa-5x"></i>
                        <h4>Gerenciar Usuários</h4>
                    </a>
                </div>
            </div>

        </div>
    </div>
</template>