<template name="forms">
    <style>
        .btn-link:visited {
            color: none;
        }
    </style>

    {{#if isEmpty}}
    <p class="alert alert-info" style="margin: 5px;">Selecione um usuário!</p>
    {{else}} {{#if isClient}}
    <form>
        <div id="fpanel" class="panel panel-default">
            <div class="panel-heading">
                <!-- <button type="button" class="close" data-target="#fpanel" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button> -->
                <button type="button" class="close" id="btnClearForm">&times;</button>
                <h3 class="panel-title">Formulário de edição do usuário.
                    <small>Cliente</small>
                </h3>
            </div>
            <div class="panel-body">

                <form role="form">
                    {{#with getUsr}}
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="username" id="username" class="form-control input-sm" placeholder="{{username}}" title="ID" value="{{username}}">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="{{email}}" title="E-mail" value="{{email}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="nome" id="nome" class="form-control input-sm" placeholder="{{name}}" title="Nome" value="{{name}}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <small>Cliente </small>
                                <label>{{empresa}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <button type="button" class="btn-link" id='deleteUsr' data-toggle="collapse" data-target="#novaEmpresa">
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span> Alterar cliente
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row collapse" id="novaEmpresa">
                        <div class="form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <select class="selectpicker" id="listaClientes" data-live-search="true" data-size="5">
                                    <option value='0' disabled="disabled" selected="selected">Selecione um cliente</option>
                                    {{#each todosClientes}} {{>itemSelect}} {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>


                    {{/with}}
                </form>
                <div class="conteiner">
                    <br>
                    <div>
                        <button type="button" class="btn btn-danger btn-xs pull-left" id='resetPW'>
                            <span class="fa fa-key" aria-hidden="true"></span> Redefinir senha
                        </button>
                        <button type="button" class="btn btn-success btn-xs pull-right" id='saveChanges'>
                            <span class="fa fa-floppy-o" aria-hidden="true"></span> Salvar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </form>


    {{else}}
    <!-- Caso seja Colaborador -->
    <form>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="close" id="btnClearForm">&times;</button>
                <h3 class="panel-title">Formulário de edição do usuário.
                    <small>Colaborador</small>
                </h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    {{#with getUsr}}
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="nome" id="nome" class="form-control input-sm" placeholder="{{name}}" value="{{name}}">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="{{email}}" value="{{email}}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="username" id="username" class="form-control input-sm" placeholder="username" value="{{username}}">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <small>Setor </small>
                                <label>{{setor}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <button type="button" class="btn-link" data-toggle="collapse" data-target="#sec">
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span> Alterar setor
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row collapse" id="sec">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <select id="listaClientes" class="form-control">
                                    <option value="" selected disabled>Selecione um setor</option>
                                    <option value="admin">Administração</option>
                                    <option value="lab">Laboratório</option>
                                    <option value="remoto">Remoto</option>
                                    <option value="externo">Externo</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    {{/with}}
                </form>

                <div class="conteiner">
                    <br>
                    <div>
                        <button type="button" class="btn btn-danger btn-xs pull-left" id='resetPW'>
                            <span class="fa fa-key" aria-hidden="true"></span> Redefinir senha
                        </button>
                        <button type="button" class="btn btn-success btn-xs pull-right" id='saveChanges'>
                            <span class="fa fa-floppy-o" aria-hidden="true"></span> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{/if}} {{/if}}
</template>