<template name="manager">
    <style>
        .list {
            overflow-y: scroll;
            height: 350px;
            border-top: 1px solid #dad6d6;
            border-bottom: 1px solid #dad6d6;
            border-radius: 8px 0px 0px 8px;
        }

        body {
            overflow-x: hidden;
        }

        @media (min-width: 992px) {
            .modal-dialog {
                width: 830px;
            }
        }
        @media (max-width: 450px) {
            .list {
                height: 150px;
            }
        }
    </style>

    <div class="modal fade" id="modalNcolaborador" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <div class="modal-title">
                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Gerenciamento de usuários

                    </div>
                </div>
                <div class="modal-body" style="overflow: visible;">
                    <div class="container">
                        <!-- buscador -->
                        <div class="row">
                            <form class="navbar-form navbar-left">
                                <div class="form-group input-group">
                                    <input id="keyu" type="text" name="q" class="form-control input-sm" placeholder="Pesquise por usuário">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!-- /buscador -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel-group list" id="accordion1">
                                    {{#each all}} {{>user}} {{else}}
                                    <p class="alert alert-warning" style="margin: 5px;">Nenhum usuário encontrado!</p>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{>forms}} 
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>