<template name="novoCliente">
    <div class="modal fade" id="modalNcliente" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
                <div class="modal-header cor">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="modal-title">Cadastramento no sistema</span>
                </div>
                <div class="modal-body">

                    <!-- content goes here -->
                    <form>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Por favor, preencha os campos abaixo.
                                    <small>Usuário Cliente</small>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="nome" id="nome" class="form-control input-sm" placeholder="Nome">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <select id="listaClientes" data-live-search="true" data-size="5">
                                                    <option value='' disabled="disabled" selected="selected">Selecione um cliente</option>
                                                    {{#each todosClientes}} {{>itemSelect}} {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="username" id="username" class="form-control input-sm" placeholder="ID">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Senha">
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                         Cancelar
                    </button>
                    <button type="button" class="btn btn-success btn-sm" id="btnNovoCliente">
                        <!-- <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> -->
                         Salvar
                    </button>
                </div>

            </div>
        </div>
    </div>
</template>