<template name="novoColaborador">
    <style>
        .btn span.glyphicon {
            opacity: 0;
        }

        .btn.active span.glyphicon {
            opacity: 1;
        }
    </style>
    <div class="modal fade" id="modalNcolaborador" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 600px;">
            <div class="modal-content">
                <div class="modal-header cor">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="modal-title">Cadastramento no sistema</span>
                </div>
                <div class="modal-body">

                    <!-- content goes here -->
                    <form>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Por favor, preencha os campos abaixo.
                                    <small>Usuário Colaborador</small>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="nome" id="colabNome" class="form-control input-sm" placeholder="Nome">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="email" name="email" id="colabEmail" class="form-control input-sm" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="username" id="colabUsername" class="form-control input-sm" placeholder="ID">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <!-- <label for="colabBassword" class="col-sm-2 col-form-label">Senha </label>
                                                    <input type="password" name="password" id="colabPassword" class="form-control input-sm" 
                                                        readonly value="ln12345"> -->
                                                <input type="password" name="password" id="colabPassword" class="form-control input-sm" placeholder="Senha">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-xs btn-primary btn-disabled active">
                                                        <input type="radio" name="options" id="checkUsr" autocomplete="off"/>
                                                        <span class="glyphicon glyphicon-ok"></span> 
                                                        <label for="checkUsr"> Usuário</label>
                                                    </label>

                                                    <label class="btn btn-xs btn-warning">
                                                        <input type="radio" name="options" autocomplete="off" id="admin"/>
                                                        <span class="glyphicon glyphicon-ok"></span> 
                                                        <label for="admin"> Administrador</label>
                                                    </label>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div><label>Setor</label></div>
                                                <select id="setor" class="form-control col-xs-2 col-sm-2 col-md-2" style="max-width:140px">
                                                    <option value="" disabled selected="selected">Selecione um setor</option>
                                                    <option value="admin">Administração</option>
                                                    <option value="lab">Laboratório</option>
                                                    <option value="remoto">Remoto</option>
                                                    <option value="externo">Externo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" id="btnNovoColaborador">Salvar
                    </button>
                </div>

            </div>
        </div>
    </div>
</template>