<template name="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a class="accordion-toggle collapsed link" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_{{_id}}">
                    <strong>{{profile.nome}}</strong>
                </a>
            </h5>
        </div>
        <div id="accordion1_{{_id}}" class="panel-collapse collapse">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row container-fluid">
                        <span>
                            <label for="uid">Usuário:</label>
                            <span id="uid"> {{username}}</span>
                        </span>
                        <span class="pull-right">
                            <button type="button" class="btn btn-warning btn-xs" id='editUsr' title="Seleciona usuário para edição">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Editar
                            </button>
                        </span>
                    </div>
                    <div class="row container-fluid">
                        <label for="uname">Nome:</label>
                        <span id="uname"> {{profile.nome}}</span>

                        <span class="pull-right">
                            <button type="button" class="btn btn-danger btn-xs" id='deleteUsr' >
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Deletar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>