<template name="cliente">
    {{#if currentUser}} {{>content}} {{else}} {{>login}} {{/if}}
</template>

<template name="content">
    <style>
        .navbar-header {
            padding: 5px;
        }

        .navbar-brand {
            float: none;
        }

        .badge {
            background-color: #2d559d;
        }
    </style>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <span title="Logo LN">
                        <img src="/images/logo_ln.png" border="0" height="auto" hspace="0" width="40px" />
                    </span>
                </span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group input-group">
                        <input id="chave" type="text" name="q" class="form-control" placeholder="Buscar chamado">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="http://www.pingpong-labs.com" target="_blank">Visit Site</a></li> -->
                    <li title='TeamViewer QS'>
                        <a href="http://get.teamviewer.com/r64qyrp" target="_blank">
                            <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Baixar o TeamViewer
                        </a>
                    </li>
                    <li class="dropdown " title="Menu principal">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-user-circle" aria-hidden="true"></span>
                            {{#with currentUser}} {{#with profile}} {{nome}} {{/with}} {{/with}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">CONFIGURAÇÕES</li>
                            <li class="">
                                <a href="#" id="ch">
                                    <span class="fa fa-key" aria-hidden="true"></span>
                                    Alterar senha
                                </a>
                            </li>
                            <li class="divider"></li>

                            <li>
                                <a tabindex="-1" href="#" class="cor" id="sair">
                                    <span class="fa fa-sign-out" aria-hidden="true"></span>
                                    Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#" title="Criar um novo chamado" id="create">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo chamado
                    </a>
                </li>
                <!-- <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li> -->
            </ul>
        </div>
        <div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading" title="Relação dos chamados">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true" style="font-size:140%;"></span> Chamados
                    <span class="pull-right" style="margin-right: 5px">Total: {{number}}</span>
                </div>
                <div class="panel-body pane">

                    <div class="btn-group col-md-offset-5" data-toggle="buttons">
                        <label class="btn btn-primary active" id="open">
                            <input type="radio" name="options" autocomplete="off" checked> Em aberto
                        </label>
                        <label class="btn btn-primary" id="close">
                            <input type="radio" name="options" autocomplete="off"> Fechados
                        </label>
                    </div>
                    {{#if status}}
                    <div class="cor">CHAMADOS EM ABERTO
                        <span class="badge">{{qtd 'abertos'}}</span>
                    </div>
                    {{else}}
                    <div class="cor">CHAMADOS FECHADOS
                        <span class="badge">{{qtd 'fechados'}}</span>
                    </div>
                    {{/if}}
                    <hr/> {{>cregs}}
                </div>
            </div>
        </div>
    </div>
    <div id="toTop" class="btn btn-primary">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </div>

    <div id="cliente-footer" style="padding-bottom: 20px;">
        <div class="container">
            <a href="http://www.lncomputadores.com.br" target="_blank" class='cor' style="text-decoration: none;">LN Computadores
                <sup>&reg;</sup>
            </a>
        </div>
    </div>

    <footer class="credito">
        <div class="row">
            <div class="col-lg-12">
                Desenvolvido por Wagner Bittencourt |
                <a href="https://gitlab.com/wsbittencourt" class="cor" style="text-decoration: none;" target="_blank">@wsbittencourt</a>
            </div>
        </div>
    </footer>
</template>

<template name="cregs">
    <div class="content">
        <div class="panel-group" id="accordion1">
            {{#each c in chamados}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a class="accordion-toggle collapsed link" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_{{c.nOS}}">
                            <strong>{{c.titulo}}</strong>
                        </a>
                    </h5>
                </div>
                <div id="accordion1_{{c.nOS}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <thead class="mdb-color darken-3">
                                <tr class="cor">
                                    <th>Solicitante</th>
                                    <th>Data</th>
                                    <th>Situação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{c.autor}}</td>
                                    <td>{{c.criado}}</td>
                                    <td>{{situ c.open}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h6>
                            <i>
                                <strong>Descrição</strong>
                            </i>
                        </h6>
                        <p>{{{c.texto}}}</p>
                        {{#unless c.open}}
                        <br> {{#with cmtFechamento c.comentarios}}
                        <hr />
                        <p>{{{texto}}}</p>
                        {{/with}} {{/unless}}
                    </div>
                </div>
            </div>
            {{else}}
            <p class="alert alert-warning">Nenhum chamado encontrado!</p>
            {{/each}}
        </div>
    </div>
</template>