<template name="create">
    <div id="clienteChamado" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #f8f8f8; color: #767676;font-size:140%;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span class="modal-title">Novo chamado</span>
                </div>
                <div class="modal-body">
                    <!-- Formulário de criação de chamado -->
                    <form>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="addon-titulo">Título</span>                                       
                                        <input type="text" id="titulo" class="form-control input-sm" aria-describedby="addon-titulo" placeholder="Título do chamado" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <div class="form-group">
                                <div id="chamadoSummer"></div>
                            </div> 
                        </div>
                    </form>
                    <!-- /form -->
                </div>


                <div class="modal-footer" style="background-color: #f8f8f8;">
                    <!-- Botões -->
                    <button type="button" class="btn btn-default btn-sm cor" data-dismiss="modal" id="btnCancel"> Cancelar
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" id="btnCreate">
                        <span class="fa fa-floppy-o" aria-hidden="true"></span> Abrir chamado
                    </button>
                </div>
            </div>

        </div>
    </div>
</template>