<template name="chamados">
    <style>
        .input-group-addon {
            min-width: 70px;
        }

        .sidenav {
            z-index: 3;
        }
    </style>
    <div id="mySidenav" class="sidenav">
        <div class="container-fluid" id="filter">
            <label style="color: #8e8e8e">FILTROS</label>

            <button type="button" class="close" onclick="closeNav()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <form role="form">
                <span class="form-group input-group">
                    <span class="input-group-addon" id="addon-nos">Nº O.S.</span>
                    <input type="number" id="numOS" aria-describedby="addon-nos" class="form-control input-sm" style="width:110px" min="0" />
                </span>
                <label class="switch" title="Ativar/Desativar Filtro">
                    <input type="checkbox" id="filtroTicket">
                    <span class="slider round"></span>
                </label>
            </form>
            <br>
            <label style="color: #8e8e8e">FILTRO AVANÇADO</label>
            <form role="form">
                <div class="form-group input-group">
                    <span class="input-group-addon" id="addon-cliente">Cliente</span>
                    <select id="filtroClientes" aria-describedby="addon-cliente" data-live-search="true" class="form-control input-sm">
                        <option value='' selected="selected">Selecione um cliente</option>
                        {{#each todosClientes}} {{>itemSelect}} {{/each}}
                    </select>
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon" id="addon-data">Data</span>
                    <input id="data" type="text" aria-describedby="addon-data" class="datepicker form-control input-sm" placeholder="DD-MM-AAAA">
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon" id="addon-setor">Setor</span>
                    <select id="filtroSetor" aria-describedby="addon-data" class="form-control input-sm">
                        <option value="" selected="selected">Selecione um setor</option>
                        {{#if isAdm}}
                        <option value="admin">Administração</option>
                        <option value="lab">Laboratório</option>
                        <option value="remoto">Remoto</option>
                        <option value="externo">Externo</option>
                        {{else}} {{{opSetor}}} {{/if}}
                    </select>
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon" id="addon-pessoa">Pessoa</span>
                    <select id="pessoa" aria-describedby="addon-pessoa" data-live-search="true" class="form-control input-sm">
                        <option value='' selected="selected">Selecione um usuário</option>
                        {{#each usrs}}
                        <option value="{{uname}}">{{uname}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon" id="addon-titulo">Titulo</span>
                    <input id="filtroTitulo" aria-describedby="addon-titulo" class="form-control input-sm" />
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon" id="addon-tipo">Tipo</span>
                    <select id="filtroTipo" aria-describedby="addon-tipo" class="form-control input-sm">
                        <option value="" selected="selected">Selecione um tipo</option>
                        <option value="Avulso">Avulso</option>
                        <option value="Contrato">Contrato</option>
                        <option value="Garantia">Garantia</option>
                    </select>
                </div>
            </form>
            <div>
                <label class="switch" title="Ativar/Desativar Filtro Avançado">
                    <input type="checkbox" id="penteFino">
                    <span class="slider round"></span>
                </label>
            </div>
            <button title="Pesquisar" id="btnBuscar" type="button" class="btn btn-primary btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>

            <button title="Limpar campos" id="btnClear" type="button" class="btn btn-primary btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div id="main" class="content">
        <div class="row">
            <div class="col-lg-12 cor">
                <span style="text-align: center">SETOR {{sector}}</span>
            </div>
            <span class="col-md-5 col-xs-3 col-sm-3 col-lg-5">
                <button type="button" class="btn btn-success btn-xs" name="newTicket" data-target="#nChamado" data-toggle="modal">Novo Chamado</button>
            </span>

            <span class="btn-group col-md-5" data-toggle="buttons">
                <label class="btn btn-primary active btn-xs" id="emAberto">
                    <input type="radio" name="options" autocomplete="off" checked> Em aberto
                </label>
                <label class="btn btn-primary btn-xs" id="todos">
                    <input type="radio" name="options" autocomplete="off"> Todos chamados
                </label>
                <label class="btn btn-primary btn-xs" id="fechados">
                    <input type="radio" name="options" autocomplete="off"> Fechados
                </label>
                <button type="button" title="Filtrar chamados" class="btn btn-primary btn-xs" id="btnFiltrar" onclick="openNav()">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
            </span>

            <!-- <span class="col-md-1 col-xs-1" alt="Filtrar chamados"> -->
            <!-- <button type="button" title="Filtrar chamados" class="btn btn-primary btn-xs" aria-label="Left Align" data-toggle="collapse"
                    data-target="#filter">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button> -->

            <!-- <button type="button" title="Filtrar chamados" class="btn btn-primary btn-xs" id="btnFiltrar" onclick="openNav()">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
            </span> -->
        </div>

        <!-- Modal -->
        <div id="nChamado" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="panel-title">Novo chamado
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="addon-cliente">Cliente</span>
                                                    <select class="form-control input-xs" id="listaClientes" aria-describedby="addon-cliente" data-live-search="true">
                                                        <option value='' disabled="disabled" selected="selected">Selecione um cliente</option>
                                                        {{#each todosClientes}} {{>itemSelect}} {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="addon-autor">Autor</span>
                                                    <input type="text" class="form-control input-sm" aria-describedby="addon-autor" id="autor" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="addon-titulo">Título</span>
                                                    <input type="text" class="form-control input-sm" aria-describedby="addon-titulo" id="titulo" placeholder=" Título do chamado"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <!-- plugin editor https://summernote.org -->
                                                <div id="corpoChamado"></div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="panel-footer clearfix">
                                <span class="pull-right">
                                    <!-- Botões -->
                                    <button type="button" class="btn btn-default btn-sm cor" data-dismiss="modal">Cancelar
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" id="newTicket">
                                        <span class="fa fa-floppy-o" aria-hidden="true"></span> Salvar
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. Modal -->

        <!-- Filtro -->




        <!-- /Filtro  -->

        <!-- /. ROW  -->
        <hr /> {{#if statusFiltro}}
        <h3 class="cor">Filtro por Nº O.S.</h3>
        {{#each filtro}} {{>regChamado}} {{else}}
        <p class="alert alert-info">Nenhum resultado para a pesquisa!</p>
        {{/each}} {{/if}} {{#if statusPenteFino}}
        <h3 class="cor">Filtro Avançado</h3>
        {{#each penteFino}} {{>regChamado}} {{else}}
        <p class="alert alert-info">Nenhum resultado para a pesquisa avançada!</p>
        {{/each}} {{/if}} {{#unless statusFiltro}} {{#unless statusPenteFino}} {{>listaChamados}} {{/unless}} {{/unless}}

    </div>
</template>

<template name="itemSelect">
    <option value="{{nomeFantasia}}">{{nomeFantasia}}</option>
</template>