<template name="editarChamado">
    <style>
        @media (max-width: 500px) {
            .table {
                display: block !important;
            }
        }        
    </style>

    <div id="showTicket" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-body box">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="panel-title">Atualizar chamado
                                <small>Nº O.S.: {{modalChamado.nOS}}</small>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped custab table-responsive">
                                <thead class="cor">
                                    <tr>
                                        <th class='col-md-6'>Cliente</th>
                                        <th>Tipo</th>
                                        <th class="col-md-2">Telefone</th>
                                        <th>Status</th>
                                        {{#if isAtt modalChamado.status}}
                                        <th class="col-md-2">Atribuido para</th>
                                        <th>Setor</th>
                                        {{/if}}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding-left: 5px;">{{modalChamado.cliente}}</td>
                                        <td>{{modalChamado.tipo}}</td>
                                        <td>{{telCliente}}</td>
                                        <td>
                                            <div style="float: left">{{{getStatus modalChamado.status}}}</div>
                                        </td>
                                        {{#if isAtt modalChamado.status}}
                                        <th>{{modalChamado.responsavel}}</th>
                                        <th>{{tSetor}}</th>
                                        {{/if}}
                                    </tr>
                                </tbody>
                            </table>

                            <h4 style="text-align: center;">{{modalChamado.titulo}}</h4>

                            <!-- Corpo do chamado -->
                            <p class="alert alert-warning">{{{modalChamado.texto}}}</p>

                            <strong>
                                <small>Autor</small> {{modalChamado.autor}}</strong>
                            <sub>
                                <i>{{modalChamado.usuario}}</i>
                            </sub>
                        </div>
                    </div>

                    <span style="color:#2d559d">Histórico</span>
                    <button style="margin-bottom: 10px" type="button" class="btn btn-primary btn-xs" aria-label="Left Align" data-toggle="collapse"
                        data-target="#historico">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <br>

                    <div id="historico" class="collapse">
                        <hr /> {{#each c in modalChamado.comentarios}}
                        <div class="alert alert-info">
                            <small>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{c.usuario}} - {{c.hora}}</small>
                            <br> {{{c.texto}}}
                        </div>
                        {{else}}
                        <p class="alert alert-warning">Chamado ainda não atualizado!</p>
                        {{/each}}
                    </div>

                    {{#if modalChamado.open}}
                    <div class="row" style="margin: 5px;">
                        <!-- plugin editor https://summernote.org -->
                        <div id="textCommit"></div>
                    </div>
                    <div>
                        <h6 class="cor">* É obrigatório adicionar um comentário para fechar o chamado.</h6>
                    </div>
                    <div class="modal-footer row">
                        <div style='float: left'>
                            <button type="button" class="btn btn-warning btn-sm" id="btnAgendar">
                                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Agendar
                            </button>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm" id="closeTicket">
                            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Fecha Chamado
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" id="addCommit">
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Comentar
                        </button>

                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>