<template name="listaChamados">
    {{#each chamados}}
        {{>regChamado}}
    {{else}}
        <p class="alert alert-warning">Não foram encontrados chamados no sistema.</p>
    {{/each}} 
</template>