<template name="moverChamado">
    <div id="mvTicket" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-body box">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="panel-title">Mover chamado
                                <small>Nº O.S.: {{modalChamado.nOS}}</small>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped custab table-responsive">
                                <thead class="cor">
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Status</th>
                                        {{#if isAtt modalChamado.status}}
                                        <th>Atribuido para</th>
                                        {{/if}}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{modalChamado.titulo}}</td>
                                        <td>
                                            <div style="float: left">{{{getStatus modalChamado.status}}}</div>
                                        </td>
                                        {{#if isAtt modalChamado.status}}
                                        <th>{{modalChamado.responsavel}}</th>
                                        {{/if}}
                                    </tr>
                                </tbody>
                            </table>

                            <form class="form-inline">
                                <div class="row">
                                    <label class="col-md-5 cor">
                                        <select id="mvSetor" class="form-control input-sm" style="width: 215px">
                                            <option value="" selected="selected">Selecione um setor</option>
                                            <option value="admin">Administração</option>
                                            <option value="lab">Laboratório</option>
                                            <option value="remoto">Remoto</option>
                                            <option value="externo">Externo</option>
                                        </select> Setor
                                        <span style="color:red;"> *</span>
                                    </label>

                                    <label class="col-md-5 cor">
                                        <select id="mvUsr" data-live-search="true" class="form-control input-sm" style="width: 215px">
                                            <option value="" selected="selected">Selecione um Colaborador</option>
                                            {{#if sectorIsNotNull}} {{#each todosUsuarios}}
                                            <option value="{{username}}">{{nick}}</option>
                                            {{/each}} {{else}}
                                            <option value="" disabled>Nenhum colaborador para esse setor!</option>
                                            {{/if}}
                                        </select> Colaborador
                                        <span style="color:red;"> *</span>
                                    </label>
                                </div>
                                <small style="color:red;">* Campos obrigatórios.</small>
                            </form>
                            <div id="textoMover"></div>
                            <!-- plugin editor https://summernote.org -->
                        </div>
                        <div class="panel-footer clearfix">
                            <span class="pull-right">
                                <!-- Botões -->
                                <button type="button" class="btn btn-default btn-sm cor" id="sendTo">
                                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Mover Chamado
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>