<template name="regChamado">
    <div class="row reg">
        <span class="col-md-6 col-lg-6 col-sm-6">
            <span>
                {{{getStatus status}}} <strong style="color: #2d559d">Nº O.S. {{nOS}} - {{titulo}}</strong>
            </span>
            <p>
                <strong>Cliente </strong> {{cliente}}
                <strong>|</strong> {{criado}}
            </p>
        </span>

        <span class="col-md-2 col-lg-2 col-sm-2 pull-right" style="padding-top: 5px;">            
            <button type="button" class="discuss btn btn-primary btn-sm" title='Ver chamado' id='edit'>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </button>
            {{#if this.open}}
            <button type="button" class="discuss btn btn-primary btn-sm" title='Transferir chamado' id='transferir'>
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            </button>
            {{/if}} {{#if isAdm perfil.setor}}
            <button type="button" class="discuss btn btn-primary btn-sm" title='Excluir chamado' id='excluir'>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            {{#unless this.open}}
            <button type="button" class="discuss btn btn-primary btn-sm" title='Reabrir chamado' id='reabrir'>
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            </button>
            {{/unless}} {{/if}}
        </span>

        <span class="col-md-2 col-lg-2 col-sm-2 pull-right">
            <p>{{>contador status=open endTime=timer}}</p>
        </span>
    </div>
</template>